#root {
  width: 100%;
  margin: 0 auto;
}

.bn-container[data-color-scheme] {
  --bn-colors-editor-background: #1E1E2E !important;
  --bn-colors-editor-text: #fff !important;
}

.editorContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #1E1E2E;
  color: #fff;
}

.sidebar {
  width: 20%;
  border-right: 1px solid black;
}

.editor {
  width: 80%;
  overflow-y: scroll;
}

.editor a {
  color: rgb(93, 93, 245);
  cursor: pointer;
  text-decoration: underline;
}


